<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-panel">
       <div class="content-wrapper">
         <div class="row">
           <div class=" grid-margin stretch-card">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title">Members</h4>
                 <p class="card-description">

                 </p>
                 <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>Sl.No</th><th> Name</th>
                          <th>status</th>
                          <th> image</th>
                        </tr>
                     </thead>
                     <tbody>
                     {% for i in data %}
                       <tr>
                         <td>{{forloop.counter}}</td>
                         <td>{{i.name}}</td>
                         <td>{{i.status}}</td>
                         <td>{{i.image}}</td>
                    <td><a href="/edit_register/{{i.id}}">Edit</a></td>
                    <td><a href="/delete_register/{{i.id}}">Delete</a></td>

                       </tr>
                     {% endfor %}
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
</div>
</body>
</html>