body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A67B5B;;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.2em;
}

.form-section {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: none;
}

button {
    background-color: #A67B5B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #732d91;
}

#responseMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
    color: green;
}
